// fonts
$text-content: 'Lato', sans-serif;
$text-title: 'Roboto', sans-serif;

// colors
$dark-grey: #3d3d3d;
$light-black: #4b4b4b;
$red: #ff4d4d;
$orange: #ffaf40;
$white: #f7f1e3;
$pale-green: #55efc4;
$pale-blue: #81ecec;
$blue: #74b9ff;
